{% extends 'mtg_app/base.html' %} {% load static %} {% block title %}Список
карт{% endblock %} {% block content %}
<section class="search">
  <form method="get" action="{% url 'mtg_app:card_list' %}">
    <input
      type="text"
      name="q"
      placeholder="Поиск карт..."
      value="{{ query }}"
    />
    <button type="submit" class="btn">Найти</button>
  </form>
</section>

<!-- Добавляем кнопку сортировки -->
<section class="sorting">
  <h3>Сортировка:</h3>
  <a
    href="?sort=alphabetical"
    class="btn {% if sort == 'alphabetical' %}active{% endif %}"
    >По алфавиту</a
  >
  <a href="?sort=price" class="btn {% if sort == 'price' %}active{% endif %}"
    >По возрастанию цены</a
  >
  <a
    href="?sort=price_desc"
    class="btn {% if sort == 'price_desc' %}active{% endif %}"
    >По убыванию цены</a
  >
  <a
    href="?sort=default"
    class="btn {% if sort == 'default' or not sort %}active{% endif %}"
    >По умолчанию</a
  >
</section>

<!-- Добавляем вывод общего количества карт -->
<section class="total-cards">
  <p>Общее количество карт: {{ total_cards }}</p>
</section>

<section class="card-grid">
  {% for card in cards %}
  <div class="card">
    <a href="{% url 'mtg_app:card_detail' card.id %}">
      <div class="card-image">
        {% if card.image_url %}
        <img src="{% static card.image_url %}" alt="{{ card.name }}" />
        {% else %}
        <img
          src="{% static 'mtg_app/images/default_card.jpg' %}"
          alt="{{ card.name }}"
        />
        {% endif %}
      </div>
      <div class="card-name">
        <h3>{{ card.name }}</h3>
      </div>
    </a>
  </div>
  {% endfor %}
</section>
{% endblock %}
