{% extends 'mtg_app/base.html' %} {% load static %} {% block title %}
{{deck.name }}{% endblock %} {% block content %}
<section class="deck-detail">
  <h2>{{ deck.name }}</h2>
  <div class="deck-description">
    <p>{{ deck.description }}</p>
  </div>

  <!-- Добавляем кнопки сортировки карт -->
  <section class="sorting">
    <h3>Сортировка карт:</h3>
    <a
      href="?sort=alphabetical"
      class="btn {% if sort == 'alphabetical' %}active{% endif %}"
      >По алфавиту</a
    >
    <a
      href="?sort=purchase_price"
      class="btn {% if sort == 'purchase_price' %}active{% endif %}"
      >По возрастанию цены</a
    >
    <a
      href="?sort=purchase_price_desc"
      class="btn {% if sort == 'purchase_price_desc' %}active{% endif %}"
      >По убыванию цены</a
    >
    <a
      href="?sort=default"
      class="btn {% if sort == 'default' or not sort %}active{% endif %}"
      >По умолчанию</a
    >
  </section>

  <h3>Карты в этой колоде</h3>
  <div class="card-grid">
    {% for card in cards %}
    <!-- Используем переменную cards -->
    <div class="card">
      <a href="{% url 'mtg_app:card_detail' card.id %}">
        <div class="card-image">
          {% if card.image_url %}
          <img src="{% static card.image_url %}" alt="{{ card.name }}" />
          {% else %}
          <img
            src="{% static 'mtg_app/images/default_card.jpg' %}"
            alt="{{ card.name }}"
          />
          {% endif %}
        </div>
        <div class="card-name">
          <h3>{{ card.name }}</h3>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  {% if deck.owner == request.user %}
  <section class="delete-section">
    <form method="post" action="{% url 'mtg_app:delete_deck' deck.id %}">
      {% csrf_token %}
      <button
        type="submit"
        class="btn btn-danger"
        onclick="return confirm('Вы уверены, что хотите удалить колоду?')"
      >
        Удалить колоду
      </button>
    </form>
  </section>
  {% endif %}
</section>
{% endblock %}
