{% extends 'mtg_app/base.html' %} {% load static %} {% block title %}
{{set.name}}{% endblock %} {% block content %}
<section class="set-detail">
  <h2>{{ set.name }}</h2>
  <div class="set-info">
    <p><strong>Код сета:</strong> {{ set.code }}</p>
    <p><strong>Дата выпуска:</strong> {{ set.release_date }}</p>
    <p><strong>Количество карт:</strong> {{ set.card_set.count }}</p>
  </div>

  <h3>Карты в этом сете</h3>
  <div class="card-grid">
    {% for card in cards %}
    <div class="card">
      <a href="{% url 'mtg_app:card_detail' card.id %}">
        <div class="card-image">
          {% if card.image_url %}
          <img src="{% static card.image_url %}" alt="{{ card.name }}" />
          {% else %}
          <img
            src="{% static 'mtg_app/images/default_card.jpg' %}"
            alt="{{ card.name }}"
          />
          {% endif %}
        </div>
        <div class="card-name">
          <h3>{{ card.name }}</h3>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
